@model TeachImageWebsite.Models.cMember

@{
    ViewBag.Title = "Register";
}

<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Menu", "Home")">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Menu2", "Home")">Menu2</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("About", "Home")">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="@Url.Action("Reservation", "Home")">Reservation</a>
                            <a class="dropdown-item" href="@Url.Action("Stuff", "Home")">Stuff</a>
                            <a class="dropdown-item" href="@Url.Action("Gallery", "Home")">Gallery</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="@Url.Action("Blog", "Home")">blog</a>
                            <a class="dropdown-item" href="@Url.Action("Blog_Single", "Home")">blog Single</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact",  "Home")">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Login",  "Home")">登入</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Register",  "Home")">註冊</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->
<br />
<br />
<br />
<br />
<h2>註冊</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <style>
        .form-group {
            display: flex;
        }
    </style>

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cUserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cUserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cUserId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.cPwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cPwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cPwd, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.cPPwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cPPwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cPPwd, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.cNickname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cNickname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cNickname, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.cSex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="cSex" name="cSex" class="form-control">

                    <option value="M">男</option>
                    <option value="F">女</option>
                    <option value="N">其他</option>
                </select>
                @*@Html.EditorFor(model => model.cSex, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cSex, "", new { @class = "text-danger" })*@
            </div>
        </div>


        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.cPhoneNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cPhoneNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cPhoneNum, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.cEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.cBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cBirth, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        type = "date",
                        required = "required"
           }
                })
                @Html.ValidationMessageFor(model => model.cBirth, "", new { @class = "text-danger" })
            </div>
        </div>


        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="註冊" />
                @ViewBag.Message
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
